vpc_cidr = "10.1.0.0/16"

subnets = {
  private_1 = {
    cidr_block        = "10.1.0.0/24"
    availability_zone = "ap-south-1a"
    public            = false
  }

  private_2 = {
    cidr_block        = "10.1.1.0/24"
    availability_zone = "ap-south-1b"
    public            = false
  }
}

# AWS Spoke Account ID
principal = "YOUR_SPOKE_ACCOUNT_ID"  